{% extends "index.html" %}

{% block mid %}
<div class="card-body">
  <form method="post" action="/myPage/{{user.id}}/cartProcess">
    <table class="table table-striped">
      <tr><td>제목</td><td>{{ product.name }}</td></tr>
      <tr><td>등록일</td><td>{{ product.registrationDate }}</td></tr>
      <tr><td>닉네임</td><td>{{ product.seller }}</td></tr>
      <tr><td>내용</td><td><img src='/static/{{product.img}}'><br>{{ product.quantity }}</td></tr>
      
      
    </table>
    {% if user %}
    <!-- 여기다가 댓글을 달아야 합니다.. -->
    {% endif %}
  </form>
</div>
{% endblock %}